:root{
    font-size: 60%;
    --cor-primaria: #1C5E54;
    --cor-secundaria: #00A990;
    --cor-branco-puro: #FFF;
    --cor-branco-sujo: #FAFAFC;
    --cor-cinza: #C2C2C2;
    --cor-cinza-claro: #F0EEEF;
    --cor-cinza-escuro: #565553;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root{
    height: 100vh;
}

body{
    background: var(--cor-cinza-claro);
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body,
input,
button,
textarea,
.input{
    font: 500 1.6rem Poppins;
}

.buttons-container a:hover, #btn-save:hover, .caregiver-card footer a:hover{
    box-shadow: none;
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}