#home-page{
    width: 100vw;
    min-height: 100vh;
    color: var(--cor-branco-sujo);
    background: var(--cor-primaria);
}

#home-page img{
    width: 100%;
    height: auto;
}

.logo-container h2{
    font-weight: 500;
    font-size: 2.2rem;
}

.buttons-container{
    display: flex;
    justify-content: center;
    margin: 3.2rem auto;
}

.buttons-container a{
    width: 30rem;
    height: 10.4rem;
    border-radius: 0.8rem;
    margin-right: 1.6rem;
    font: 700 2.2rem Archivo;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--cor-branco-sujo);
    transition: all 0.5s;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.25);
    background: var(--cor-secundaria);
}

.total-connections-container{
    text-align: center;
}

.total-connections{
    font-size: 1.8rem;
}

.container{
    margin-top: 2rem !important;
}

.languages img{
    margin: .5rem;
    border-radius: .5rem;
    box-shadow: .1rem .1rem .2rem #333;
    cursor: pointer;
    transition: all .5s;
}

.languages img:hover{
    box-shadow: none;
}

.home-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}