#page-register, #page-caregivers {
    width: 100vw;
    height: 100vh;
}

@media (min-width: 700px) {
    #page-register, #page-caregivers {
        max-width: 100%;
    }   
    #page-register main, #page-caregivers main {
        max-width: 740px;
        margin: 0 auto;
    }       
    #page-register main {
        padding: 2.4rem 0; 
    }
}