.page-header {
    margin-bottom: 6.4rem;
}

.new-caregiver main {
    background: var(--cor-branco-puro);
    width: 100%;
    max-width: 74rem;
    border-radius: 0.8rem;
    margin: -3.2rem auto 3.2rem;
    padding-top: 6.4rem;
    overflow: hidden;
}

.new-caregiver main fieldset {
    border: 0;
    padding: 0 2.4rem;
    margin-bottom: 2.4rem;
}

.new-caregiver main fieldset + fieldset {
    margin-top: 2.4rem;
}

.new-caregiver main fieldset legend {
    font: 700 2.4rem Archivo;
    color: var(--cor-cinza-escuro);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(---cor-cinza-claro)
}

.new-caregiver main .schedule-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    column-gap: 1.6rem;
}

.new-caregiver .input-block + .input-block {
    margin-top: 0 !important;
}

.new-caregiver main footer {
    padding: 2rem 2.4rem 0 2.4rem;
    background: var(--cor-branco-sujo);
    border-top: 1px solid var(--cor-cinza);
}

.new-caregiver main footer p {
    display: inline-block;
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: #D22323;    
}

.new-caregiver main footer button {
    width: 15rem;
    height: 4.6rem;
    float: right;
    background-color: var(--color-secundary);
    color: var(--cor-branco-puro);
    border: 0;
    border-radius: 0.8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;
    text-decoration: none;
    transition: background-color 0.2s;
    transition:  all .5s;
    background-color: var(--cor-secundaria);
}